<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.7.2" />
      <httpRuntime targetFramework="4.7.2" />
    </system.web>
  <connectionStrings>
    <!--  <add name="VisaKuwait" connectionString="Data Source=43.255.152.25; Initial Catalog=VisaStatus;User ID=VisaStatusUser;Password=iP6w0_a9" providerName="System.Data.SqlClient" />-->
    <add name="VisaKuwait" connectionString="Data Source=DESKTOP-AKJITH7\SQLEXPRESS;Initial Catalog=VisaKuwait;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
